-e warbler.py

graphviz
h5py
hdbscan
joblib
jupyterlab
librosa
nara_wpe
natsort
noisereduce
numba
numpy
openpyxl
pandas
pillow
plotly
pygraphviz; sys_platform == 'linux'
pymupdf
tqdm
seaborn
scikit-learn
scipy
SoundFile
tensorflow_gpu
tensorflow
umap-learn[plot]
voila

# Experimental
fuzzy-c-means

# Temporary
ipywidgets==7.7.1
# ipywidgets
jupyterlab-widgets==1.1.1
